body{
  margin: 0;
  font-family: 'VT323', monospace;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'VT323', monospace;
}

.seccionVisible {
  background-color: black;
  height: 100vh; 
  width:  100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general {
  width: 75%;
  height: 75%;
  margin: 5em auto;
  justify-content: center;
  align-items: center;
}

.general1 {
  background-image: url(/img/galaxy_background.png);
  display: flex;
  flex-direction: column;
}

.starwarslogo{
  width: 50%;
  height: 50%;
}

.buttonStart{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  margin-top: 5em;
  border: 0.1em solid yellow;
  cursor: pointer;
}

.general2 {
  background-image: url(/img/galaxy_background.png);
  display: flex;
  flex-direction: row;
}

.column1{
  width: 25%;
  height: 95%;
}

#hole1{
  background-color: palegoldenrod;
  height: 34%;
}

.jediclass{
 height: 90%;
 width: 90%;
 margin-top: 1em;
 cursor: pointer;
}

.emptyTop{
  height: 2.5em;
}

.emptyMiddle{
  height: 16%;
}

.emptyBot{
  height: 2.5em;
}

#hole2{
  background-color: paleturquoise;
  height: 34%;
}

.mandalorianclass{
  height: 100%;
  width: 100%;
  cursor: pointer;
 } 

.column2{
  width: 38%;
  height: 95%;
}

.buttonReturn{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  cursor: pointer;
}

#textSelection{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 1.5em;
  border: 0.1em solid yellow;
}

.characterInfo{
  background-color: palegreen;
  height: 78.2%;
}

.buttonSelect{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  cursor: pointer;
}


.column3{
  width: 25%;
  height: 95%;
}

#hole3{
  background-color: palegoldenrod;
  height: 34%;
}

.sithclass{
  height: 100%;
  width: 100%;
  cursor: pointer;
 }

#hole4{
  background-color: paleturquoise;
  height: 34%;
}

.wookieclass{
  height: 100%;
  width: 80%;
  cursor: pointer;
 }
 

.general3 {
  background-color: red;
}

.buttonRestart{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  cursor: pointer;
}


.pj{
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 10em;

}