body{
  margin: 0;
  font-family: 'VT323', monospace;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'VT323', monospace;
}

.seccionVisible {
  background-color: black;
  height: 100vh; 
  width:  100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general {
  width: 75%;
  height: 75%;
  margin: 5em auto;
  justify-content: center;
  align-items: center;
}

.general1 {
  background-image: url(../img/galaxy_background.png);
  display: flex;
  flex-direction: column;
  margin-top: 3.4em;
}

.starwarslogo{
  width: 50%;
  height: 50%;
}

.buttonStart{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  margin-top: 5em;
  border: 0.1em solid yellow;
  cursor: pointer;
}

.general2 {
  background-image: url(../img/galaxy_background.png);
  display: flex;
  flex-direction: row;
}

.column1{
  width: 25%;
  height: 95%;
}

#hole1{
  height: 34%;
}

.jediclass{
 height: 90%;
 width: 90%;
 margin-top: 1em;
 cursor: pointer;
}

.emptyTop{
  height: 2.5em;
}

.emptyMiddle{
  height: 16%;
}

.emptyBot{
  height: 2.5em;
}

#hole2{
  height: 34%;
}

.mandalorianclass{
  height: 100%;
  width: 100%;
  cursor: pointer;
 } 

.column2{
  width: 38%;
  height: 95%;
}

.buttonReturn{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  cursor: pointer;
}

#textSelection{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 1.5em;
  border: 0.1em solid yellow;
}

.characterInfo{
  height: 78.2%;
  display: flex;
  flex-direction: row;
}

.column1pj{
  width: 50%;
  height: 100%;
  display:flex;
  flex-direction: column;
}

.column2pj{
  width: 50%;
  height: 100%;
  display:flex;
  flex-direction: column;
}

.column3{
  width: 25%;
  height: 95%;
}

#hole3{
  height: 34%;
}

.sithclass{
  height: 100%;
  width: 100%;
  cursor: pointer;
 }

#hole4{
  height: 34%;
}

.wookieclass{
  height: 100%;
  width: 80%;
  cursor: pointer;
 }
 
.buttonRestart{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  cursor: pointer;
}


.pj1{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 4em;
}

.pj2{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 4em;
  margin-top: 4.2em;
}

.pj3{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 4em;
  margin-left: 1.7em;
}

.pj4{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 4em;
  margin-top: 4.2em;
  margin-left: 1.7em;
}

.general3 {
  background-image: url(../img/galaxy_background.png);
  display: flex;
  flex-direction: column;
}

.firstLine{
  height: 3em;
}

.buttonReset{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  cursor: pointer;
}

.secondLine{

  width: 100%;
  height: 2em;
  display: flex;
  flex-direction: row;
}

.hole1Lines{
  width: 5em;
  height: 2em;
}

.hole2Lines{
  width: 20em;
  height: 2em;
}

.hpLife{
  height: 2em;
  background-color: black;
  width: 30%;
  border: yellow solid 0.5em;

}


#pjSelect1Hp{
  background-color: yellow;
  width: 100%;
  height: 2em;
  margin: 0;
  transition: all 1s;
}


#pjSelect2Hp{
  background-color: yellow;
  width: 100%;
  height: 2em;
  margin: 0;
  transition: all 1s;
}

.thirdLine{
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  height: 34%;
  width: 100%;
  justify-content: space-around;
}

.hole3Lines{
  width: 6em;
}

.hole4Lines{
  width: 23em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hole5Lines{
  width: 6em;
}

#pjSelect1Img{
  width: 25%;

}

#pjSelect2Img{

  width: 25%;

}

.fourthLine{

  height: 3em;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#pjSelect1Name{
  width: 8em;
  height: 1em;
  background-color: black;
  color: yellow;
  font-size: 2em;
  border: 0.1em solid yellow;
  font-family: 'VT323', monospace;
  justify-content: center;
  align-items: center;
}

.hole6Lines{
  width: 7em;
}

.hole7Lines{
  width: 25em;
}

#pjSelect2Name{
  width: 8em;
  height: 1em;
  background-color: black;
  color: yellow;
  font-size: 2em;
  border: 0.1em solid yellow;
  font-family: 'VT323', monospace;
}


#buttonAttack {
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  margin-top: 2em;
  cursor: pointer;
}


.fifthLine{
  height: 10em;
  width: 20em;
  display: flex;
  justify-content: center;
  text-align: center;
}

#textSelection2{
  font-family: 'VT323', monospace;
  height: 4em;
  width: 15em;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  display: flex;
  align-items: center;
}

.general4 {
  background-image: url(../img/galaxy_background.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#winnerText{
  background-color: red;
  width: 10em;
  height: 5em;
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}


#winner {
  height: 40%;
  border-radius: 2em;
}