body{
  margin: 0;
  font-family: 'VT323', monospace;
  display: flex;
  text-align: center;
  justify-content: center;
}

.seccionVisible {
  background-color: black;
  height: 100vh; 
  width:  100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general {
  width: 75%;
  height: 75%;
  margin: 5em auto;
  justify-content: center;
  align-items: center;
}

.general1 {
  background-image: url(/img/galaxy_background.png);
  display: flex;
  flex-direction: column;
}

.starwarslogo{
  width: 50%;
  height: 50%;
}

.buttonStart{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  margin-top: 5em;
  border: 0.1em solid yellow;
  cursor: pointer;
}

.general2 {
  background-image: url(/img/galaxy_background.png);
  display: flex;
  flex-direction: row;
}

.column1{
  background-color: red;
  width: 33%;
  height: 2em;
}

.column2{
  background-color: red;
  width: 33%;
  height: 2em;
}

.buttonReturn{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  cursor: pointer;
}

.buttonSelect{
  font-family: 'VT323', monospace;
  color: yellow;
  background-color: black;
  font-size: 2em;
  border: 0.1em solid yellow;
  cursor: pointer;
}

.column3{
  background-color: red;
  width: 33%;
  height: 2em;
}









.general3 {
  background-color: red;
}